.home-language-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 1.6;
	color: gold;
	background-color: #808080;
	hanging-punctuation: first;
}

h1, h2, h3, h4 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	letter-spacing: 0;
	text-transform: none;
	font-weight: 600;
	line-height: 1;
}

.index-div-title {
	display: block;
	position: fixed;
	background-color: #404040;
	border-radius: 20px;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
	padding: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	z-index: 1;
}

.index-div-work {
	display: block;
	position: fixed;
	background-color: #303030;
	border-radius: 20px;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
	padding: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	z-index: 2;
}

.index-div-freetime {
	display: block;
	position: fixed;
	background-color: #404040;
	border-radius: 20px;
	padding: 20px;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	z-index: 1;
}

.index-div-button {
	display: block;
	padding-top: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
	background-image: url('https://live.staticflickr.com/65535/48721151361_b8584bb8b4_o.jpg');
	background-repeat: none;
	background-attachment: fixed;
	background-size: 2560px;
}


/*****************************************************
 *
 *
 *
 *
 * Sizes
 *
 */

.index-div-title {
	left: 30px;
	top: 30px;
	width: 90px;
	height: 40px;
	font-size: 13px;
}

.index-div-work {
	left: 60px;
	top: 100px;
	width: 200px;
	height: 170px;
	font-size: 11px;
}

.index-div-freetime {
	left: 20px;
	top: 290px;
	width: 160px;
	height: 70px;
	font-size: 11px;
}

@media (min-width: 590px) {
	.index-div-title {
		left: 40px;
		top: 30px;
		width: 260px;
		height: 90px;
		font-size: 28px;
	}

	.index-div-work {
		left: 90px;
		top: 140px;
		width: 440px;
		height: 210px;
		font-size: 20px;
	}

	.index-div-freetime {
		left: 60px;
		top: 380px;
		width: 300px;
		height: 110px;
		font-size: 18px;
	}
}

@media (min-width: 790px) {
	.index-div-title {
		left: 30px;
		top: 30px;
		width: 260px;
		height: 130px;
		font-size: 40px;
	}

	.index-div-work {
		left: 220px;
		top: 130px;
		width: 510px;
		height: 240px;
		font-size: 24px;
	}

	.index-div-freetime {
		left: 100px;
		top: 390px;
		width: 300px;
		height: 130px;
		font-size: 20px;
	}
}

@media (min-width: 2000px) {
	.index-div-title {
		left: 260px;
		top: 30px;
		width: 400px;
		height: 180px;
		font-size: 60px;
	}

	.index-div-work {
		left: 430px;
		top: 230px;
		width: 600px;
		height: 320px;
		font-size: 30px;
	}

	.index-div-freetime {
		left: 350px;
		top: 570px;
		width: 400px;
		height: 160px;
		font-size: 24px;
	}
}
