.menu-bar {
	box-sizing: border-box;
    width: 100%;
    display: flex;
	position: fixed;
	top: 0px;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    background-color: #223305;
	border-bottom: 1px solid black;
}

.innerblock1 {
	background-color: #012b4a;
	color: #e3d69a;
	display: inline-block;
	margin: auto;
	border: 1px black solid;
	text-align: left;
}

.innerblock2 {
	background-color: #223305;
	color: #e3d69a;
	display: inline-block;
	margin: auto;
	text-align: left;
	border: 1px black solid;
}

.subtitle {
	margin-top: -20px;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
}

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	line-height: 1.6;
	color: #373737;
	background-color: #373737;
	hanging-punctuation: first;
}

h1, h2, h3, h4 {
	font-family: 'Times New Roman', Times, serif;
	letter-spacing: 0;
	text-transform: none;
	font-weight: 600;
	line-height: 1;
}

p {
	margin-top: 30px;
}

li {
	margin-top: 20px;
}