
/*******************************************************
 *
 *
 *
 *  modal-menu
 *
 *
 */

/* The Modal (background) */
.modal-menu {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Box */
.modal-menu-box {
	background-color: #f1f1f1;
	position: fixed;
	border: 2px solid black;
}

/* Modal Header */
.modal-menu-header {
	background-color: #f1f1f1;
	border: 0px solid black;
	text-align: right;
}

/* Modal Content */
.modal-menu-content {
	background-color: #f1f1f1;
	color: #151515;
	overflow-y: auto;
	border: 0px solid black;
}

/* Box Sizes */

.modal-menu-box {
	width: 300px;
	height: 400px;
	left: 7px;
	top: 32px;
}

.modal-menu-header {
	height: 40px;
}

.modal-menu-content {
	margin-left: 0;
	width: 90%;
	height: 90%;
}

/* The Close Button */
.modal-menu-close {
	color: darkgoldenrod;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
}

@keyframes modal-menu-close-button-animation {
	0% {color: darkgoldenrod}
	100% {color: black;}
}

.modal-menu-close:hover,
.modal-menu-close:focus {
	color: black;
	/*
	animation-name: modal-test-close-button-animation;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	*/
	text-decoration: none;
	cursor: pointer;
}

.menu-item-icons {
	margin-left: 20px;
}

.menu-item-one-icon {
	margin-left: 10px;
}

.menu-item {
	margin-left: 20px;
	margin-top: 20px;
}

.menu-item-link {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #151515;
}

.menubar-link{
	text-decoration: none;
}
.menubar-box-button {
	padding: 0;
	margin: 0;
	height: 32px;
	padding: 8px 8px 0px 8px;
	border-right: 1px solid black;
}

.menubar-box-avatar {
	padding: 0;
	margin: 0;
	height: 32px;
	padding: 8px 8px 0px 8px;
}

.menubar-box-language {
	padding: 0;
	margin: 0;
	height: 32px;
	padding: 8px 8px 0px 8px;
}

.menubar-button {
	height: 24px;
}

.menubar-avatar {
	height: 24px;
	cursor: pointer;
}

.menubar-language {
	display: none;
	height: 24px;
	cursor: pointer;
}




/*******************************************************
 *
 *
 *
 *  Sizes
 *
 *
 */

.innerblock1 {
	width: 300px;
	padding: 10px;
}

.innerblock2 {
	width: 300px;
	padding: 10px;
}

.imageblock-img {
	width: 300px;
}

.imageblock-img-softphone-chat {
	width: 300px;
}

.imageblock-img-message-router {
	width: 200px;
}

.cme-light {
	width: 250px;
}

.cme-dark {
	width: 250px;
}

@media (min-width: 450px) {
	.innerblock1 {
		width: 400px;
		padding: 20px;
	}

	.innerblock2 {
		width: 400px;
		padding: 20px;
	}

	.imageblock-img {
		width: 400px;
	}

	.imageblock-img-softphone-chat {
		width: 400px;
	}

	.imageblock-img-message-router {
		width: 300px;
	}
	
	.cme-light {
		width: 400px;
	}

	.cme-dark {
		width: 400px;
	}
}

@media (min-width: 650px) {
	.innerblock1 {
		width: 500px;
		padding: 40px;
	}

	.innerblock2 {
		width: 500px;
		padding: 40px;
	}

	.imageblock-img {
		width: 500px;
	}

	.imageblock-img-softphone-chat {
		width: 500px;
	}

	.imageblock-img-message-router {
		width: 400px;
	}
	
	.cme-light {
		width: 400px;
	}

	.cme-dark {
		width: 400px;
	}
}

@media (min-width: 769px) {
	.innerblock1 {
		width: 700px;
		padding: 40px;
	}

	.innerblock2 {
		width: 700px;
		padding: 40px;
	}

	.imageblock-img {
		width: 700px;
	}

	.imageblock-img-softphone-chat {
		width: 712px;
	}

	.imageblock-img-message-router {
		width: 500px;
	}

	.cme-light {
		width: 400px;
	}

	.cme-dark {
		width: 400px;
	}
}





/*******************************************************
 *
 *
 *
 *  Other elements
 *
 *
 */

.lang-hidden {
	display: none;
}

.header {
	height: 31px;
}

.cme-button-div {
	display: flex;
	height: 75px;
	width: 80px;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;
	justify-content: center;
	align-items: center;
}

.cme-button-link {
}

.cme-light {
	border-radius: 10px;
}

.cme-dark {
	border-radius: 10px;
}

.button-link {
	padding: 10px;
	text-decoration: none;
	border-radius: 20px;
	color: #373737;
	background: gold;
}

.button-link:hover,
.button-link:focus {
	color: gold;
	background: #373737;
}

.contentblock {
	z-index: 9999;
}

.centeredblock {
	width: 100%;
	text-align: center;
}

.imageblock {
	text-align: center;
	margin-bottom: 10px;
}

.caption {
	font-size: .7em;
	color: #373737;
	text-decoration: none; 
}

.subnote-line {
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

.subnote {
	font-size: .7em;
	color: gray;
	text-align: center;
}

.subnote-inner {
	display: inline-block;
	width: 98%;
	text-align: left;
}

html {
	font-size: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

a:active, a:hover {
	outline: 0;
}

b, strong {
	font-weight: bold;
}

blockquote {
	margin: 1em 40px;
}

mark {
	background: #ff0;
	color: #000;
}

pre {
	margin: 1em 0;
}

code, kbd, pre, samp {
	font-family: 'Monaco', 'Andale Mono', 'Lucida Console', monospace;
	font-size: 1em;
}

pre {
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
}

small {
	font-size: 80%;
}

@media (min-width: 769px) {
	body {
		font-size: 18px;
	}
}

dl, menu, ol, ul {
	margin: 1em 0;
}

menu, ol, ul {
	padding: 0 0 0 40px;
}

ul:not(li > ul), ol:not(li > ol) {
	margin: 0 0 16px;
}

li > ul, li > ol {
	margin: 0;
}

h1 {
	font-size: 30px;
	padding-bottom: 10px;
}

@media (min-width: 769px) {
	h1 {
		font-size: 44px;
	}
}

h2 {
	font-size: 26px;
}

@media (min-width: 769px) {
	h2 {
		font-size: 38px;
	}
}

h3 {
	font-size: 22px;
}

@media (min-width: 769px) {
	h3 {
		font-size: 28px;
	}
}

h4 {
	font-size: 18px;
	opacity: .8;
}

@media (min-width: 769px) {
	h4 {
		font-size: 22px;
	}
}

a {
	color: #109CBF;
}

strong {
	font-weight: 600;
}

table.header {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: .5%;
	margin-right: 5px;
	table-layout: fixed;
	width: 99%;
	border-width: 2px;
	border-style: solid;
	border-color: #D0D0D0;
	border-radius: 10px;
}

table.subheader {
	width: 99%;
}

th {
	padding: 4px 16px 2px 0;
}

th {
	font-weight: 600;
	text-align: left;
	text-transform: uppercase;
	font-size: 81%;
	letter-spacing: .06em;
}

thead > tr {
	border-bottom: 2px solid #D0D0D0;
}

tbody > tr {
	border-bottom: 1px solid #D0D0D0;
}

blockquote {
	font-family: 'Times New Roman', Times, serif;
	font-size: 1.4em;
	font-style: italic;
	font-weight: 500;
	letter-spacing: 0;
	text-transform: none;
	font-weight: 600;
	position: relative;
	opacity: .9;
}

hr {
	height: 1px;
	margin: 30px 0px;
	border-width: 0;
	background-color: #D0D0D0;
}
