.menu-bar {
	box-sizing: border-box;
    width: 100%;
    display: flex;
	position: fixed;
	top: 0px;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    background-color: darkred;
    padding: 7px;
}

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	line-height: 1.6;
	color: gold;
	background-color: #808080;
	hanging-punctuation: first;
}

h1, h2, h3, h4 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	letter-spacing: 0;
	text-transform: none;
	font-weight: 600;
	line-height: 1;
}

.index-div-title {
	display: block;
	position: fixed;
	background-color: #404040;
	border-radius: 20px;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
	padding: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	z-index: 1;
}

.index-div-work {
	display: block;
	position: fixed;
	background-color: #303030;
	border-radius: 20px;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
	padding: 20px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	z-index: 2;
}

.index-div-freetime {
	display: block;
	position: fixed;
	background-color: #404040;
	border-radius: 20px;
	padding: 20px;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
	font-family: "Comic Sans MS", cursive, sans-serif;
	z-index: 1;
}

.index-div-button {
	display: block;
	padding-top: 20px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body {
	background-image: url('https://live.staticflickr.com/65535/48721151361_b8584bb8b4_o.jpg');
	background-repeat: none;
	background-attachment: fixed;
	background-size: 2560px;
}


/*****************************************************
 *
 *
 *
 *
 * Sizes
 *
 */

.index-div-title {
	left: 20px;
	top: 20px;
	width: 120px;
	height: 60px;
	font-size: 18px;
}

.index-div-work {
	left: 5px;
	top: 110px;
	width: 290px;
	height: 200px;
	font-size: 16px;
}

.index-div-freetime {
	left: 20px;
	top: 330px;
	width: 260px;
	height: 90px;
	font-size: 14px;
}

@media (min-width: 790px) {
	.index-div-title {
		left: 60px;
		top: 60px;
		width: 260px;
		height: 130px;
		font-size: 40px;
	}

	.index-div-work {
		left: 230px;
		top: 180px;
		width: 440px;
		height: 260px;
		font-size: 24px;
	}

	.index-div-freetime {
		left: 130px;
		top: 470px;
		width: 300px;
		height: 140px;
		font-size: 20px;
	}
}

@media (min-width: 2000px) {
	.index-div-title {
		left: 260px;
		top: 60px;
		width: 400px;
		height: 180px;
		font-size: 60px;
	}

	.index-div-work {
		left: 430px;
		top: 260px;
		width: 600px;
		height: 320px;
		font-size: 30px;
	}

	.index-div-freetime {
		left: 350px;
		top: 600px;
		width: 400px;
		height: 160px;
		font-size: 24px;
	}
}
